ftpsftpquartz_related/src/main/app/ftpsftpQuartz_related.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
    <ftp:connector name="FTP" pollingFrequency="1000" validateConnections="true" doc:name="FTP"></ftp:connector>
    <sftp:connector name="SFTP" validateConnections="true" doc:name="SFTP"></sftp:connector>
    <http:polling-connector name="HTTP_Polling" cookieSpec="netscape" validateConnections="true" pollingFrequency="1000" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP Polling"></http:polling-connector>
    <append-string-transformer message="&lt;root&gt;Sample AppendString&lt;/root&gt;" name="Append_String" doc:name="Append String"></append-string-transformer>
    <quartz:connector name="Quartz" validateConnections="true" doc:name="Quartz"></quartz:connector>
    <flow name="ftpsftp_relatedFlow"> 
        <ftp:inbound-endpoint passive="false" connector-ref="FTP" pollingFrequency="30000" responseTimeout="10000" doc:name="FTP" address="ftp://aspire123:aspire123@172.24.144.25:21/Mule_FTP/Input"></ftp:inbound-endpoint>  
        <logger message="Payload message from FTP : #[payload]" level="INFO" doc:name="Logger"></logger>  
        <copy-properties propertyName="*" doc:name="Property"></copy-properties>  
        <ftp:outbound-endpoint host="172.24.144.25" port="21" path="/Mule_FTP/Output" user="aspire123" password="aspire123" connector-ref="FTP" outputPattern="#[header:originalFilename]" responseTimeout="10000" transformer-refs="Append_String" doc:name="FTP"></ftp:outbound-endpoint>  
    </flow>
    <flow name="ByInterval"> 
        <quartz:inbound-endpoint repeatInterval="10000" connector-ref="Quartz" responseTimeout="10000" doc:name="Quartz" jobName="JobInterval"> 
            <quartz:event-generator-job></quartz:event-generator-job>  
        </quartz:inbound-endpoint>  
        <logger message="Quartz Triggered with Interval......." level="INFO" doc:name="Logger"></logger>  
    </flow>
    <flow name="ByCronJob"> 
        <quartz:inbound-endpoint cronExpression="* * * * * ?" repeatInterval="0" connector-ref="Quartz" responseTimeout="10000" doc:name="Quartz" jobName="JobCron"> 
            <quartz:event-generator-job></quartz:event-generator-job>  
        </quartz:inbound-endpoint>  
        <logger message="Quartz Triggered with Cron Job......." level="INFO" doc:name="Copy_of_Logger"></logger>  
    </flow>
    <flow name="ByEndpoint"> 
        <quartz:inbound-endpoint repeatInterval="15000" connector-ref="Quartz" responseTimeout="10000" doc:name="Quartz" jobName="JobEndpoints"> 
            <quartz:endpoint-polling-job> 
                <quartz:job-endpoint address="http://localhost:8100/db/select"></quartz:job-endpoint>  
            </quartz:endpoint-polling-job>  
        </quartz:inbound-endpoint>  
        <logger message="EndpointPolling.... Resposne.. #[payload]" level="INFO" doc:name="Logger"></logger>  
    </flow>
</mule>
